<div class="container">
    <div class="jumbotron">
        <h1>Name Change </h1>
        <p>
            <label>Gender: </label>
            <input [(ngModel)]="gender" placeholder="Gender" />
        </p>
        <p>
            <label>Address: </label>
            <input [(ngModel)]="address" placeholder="Address" />
        </p>
        <p>
            <label>Contact No.: </label>
            <input [(ngModel)]="contactNo" placeholder="Contact No" />
        </p>
    </div>
</div>
<div>
    <h1>Page 2</h1>
</div>

<app-confirmation></app-confirmation>