<div *ngIf="isModalOpen" class="modal" tabindex="-1" role="dialog" style="display: block!important">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> {{ messageBody }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="setConfirmStatus(true)" >Discard</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="setConfirmStatus(false)">Cancel</button>
      </div>
    </div>
  </div>
</div>