<div class="container">
    <div class="jumbotron">
        <h1>Name Change </h1>
        <p>
            <label>First Name: </label>
            <input [(ngModel)]="firstName" placeholder="First Name" />
        </p>
        <p>
            <label>Last Name: </label>
            <input [(ngModel)]="lastName" placeholder="Last Name" />
        </p>
    </div>
</div>
<div>
    <h1>Page 1</h1>
</div>

<app-confirmation></app-confirmation>